/* .projectName {
  background: red;
} */

.input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #555;
}

.input[type="text"]:focus {
  border: 3px solid white;
  /* background-color: lightblue; */
}

.inputValue {
  font-size: 20px;
}

.submitBtn {
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 10px;
}

.toggleBtn {
  /* color: rgb(0, 0, 0); */
  font-weight: bold;
  margin-top: 2rem;
  padding: 5px;
}

.todoList {
  padding: 2px;
}

.listItem {
  list-style: none;
  /* font-size: 1.2em; */
  /* list-style-type: square; */
  text-decoration: line-through;
  text-decoration-color: rgb(255, 255, 255);
}

.noItem {
  padding: 10px;
}