/* .projectName {
  background: red;
} */

.input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #555;
}

.input[type="text"]:focus {
  border: 3px solid white;
  /* background-color: lightblue; */
}

.inputValue {
  font-size: 20px;
}