#header-container {
  display: flex;
  text-align: center;
}

#box-0 {
  width: 100%;
}

/* span {
  font-size: 7px;
} */

.box-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  justify-content: flex-start;
  margin-top: 30px;
}

.box-1 {
  width: 28%;
  height: 50%;
  /* border: 2px dotted red; */
  /* max-width: 300px;
  max-height: 80px; */
}

/* .box {
  border: 2px dotted green;
} */

@media screen and (max-width: 1275px) {
  .box-1 {
    width: 80%;
    height: 90%;
  }
}

/* Mobile First */
@media screen and (max-width: 575px) {
  .box-container {
    flex-direction: column;
    width: 300px;
  }
}

@media screen and (max-width: 975px) {
  .box-container {
    display: block;
  }
}
