/* Using flex */

#header-container {
  display: flex;
  text-align: center;
}

#box-0 {
  width: 100%;
}

.box-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.box-1 {
  width: 28%;
  height: 50%;
}

.boxing{
  margin-right: 200px;
} 

@media screen and (max-width: 1275px) {
  .box-1 {
    width: 80%;
    height: 90%;
  }
}

@media screen and (max-width: 575px) {
  .box-container {
    flex-direction: column;
    width: 250px;
  }
}

@media screen and (max-width: 975px) {
  .box-container {
    display: block;
  }
}