/* Using flex */

#header-container {
  display: flex;
  text-align: center;
}

#box-0 {
  width: 100%;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  place-items: center;

  gap: 2rem;
}

.box-1 {
  width: 20rem;
  height: 20rem;
  padding: 0.3rem;
  border: 2px solid #ffffff7a;
}

.img-resp {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .box-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 775px) {
  .box-container {
    grid-template-columns: 1fr;
  }
}
/*
.boxing {
  margin-right: 200px;
}
*/
/*
@media screen and (max-width: 1275px) {
  .box-1 {
    width: 80%;
    height: 90%;
  }
}

@media screen and (max-width: 575px) {
  .box-container {
    flex-direction: column;
    width: 250px;
  }
}

@media screen and (max-width: 975px) {
  .box-container {
    display: block;
  }
}
*/
